@charset "UTF-8";

.btn{
    height: 2rem;
    width: 7rem;
}
a.btn-dark, a.btn-outline-dark{
	border-radius: 0;
	border-color: #2B380C;
	width: 6rem;
	height: 2.3rem;
}
a.btn-dark{
	background-color: #2B380C;
}


