@charset "UTF-8";

div.container .btn{
    height: 2rem;
    width: 7rem;
}
div.container a.btn-dark, div.container a.btn-outline-dark{
	border-radius: 0;
	border-color: #2B380C;
	width: 6rem;
	height: 2.3rem;
}
div.container a.btn-dark{
	background-color: #2B380C;
}
div.container .fa-heart:before{
	color: #e5c619;
	font-size: 40px
}
div.container img{
	border-radius: 7px;
}


/* EJ start */
.hide {
	display: none !important;
}
small.failMsg {
	color: #c7392b;
	display: block;
	margin: .4rem;
}
small.SuccessMsg {
	color: #639A67;
	display: block;
	margin: .4rem;
}
/* EJ end */