@charset "UTF-8";
/* web font */
@font-face {
    font-family: 'GoyangIlsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* container 너비 사용자화 */
@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}
/* camper color */
.bg-camper-color {
	background-color: #639A67
}
.camper-color {
	color: #639A67
}
/* ---- EJ start ---- */
.btn-camper-color {
	color: #fff;
    background-color: #639A67;
    border-color: #639A67;
}
.btn-camper-color:hover {
    color: #fff;
    background-color: #467249;
    border-color: #467249;
}
.btn-camper-red {
	color: #fff;
    background-color: #c7392b;
    border-color: #c7392b;
}
.btn-camper-red:hover {
    color: #fff;
    background-color: #AD1C0E;
    border-color: #AD1C0E;
}
.border-camper-color {
	border-color: #639A67
}
.btn-outline-camper-color {
	color: #639A67;
	border-color: #639A67;
}
.btn-outline-camper-color:hover{
	color: #fff;
    background-color: #639A67;
    border-color: #639A67;
}
/* ---- EJ end ---- */

body {
	padding-top: 200px;
	width: 1200px;
}
* {
    font-family: 'GoyangIlsan';
    list-style-type: none;
}
#navbarMain {
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50px;
}
.nav-item * {
    font-size: 15px;
}
.navbar-brand, .bar {
    font-size: 12px;
}
.navbar-brand {
    cursor: pointer;
}

/* ----- index.css ----- */
.shadow-custom {
	width: 1000px;
	box-shadow:
		0 2px 4px 2px rgb(0 0 0 / 10%),
		0 8px 16px rgb(0 0 0 / 10%);
}
.
