@charset "UTF-8";
.text-13{font-size: 13px;}
.text-15{font-size: 15px;}
.text-18{font-size: 18px;}
.text-20{font-size: 20px;}
.text-25{font-size: 25px;}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 600px;
	}
}
textarea {
	background-color: rgb(245, 245, 245);
	font-size: 12px;
	border-color: #639A67;
	outline: none;
	resize: none;
}
i {
	color: rgb(230, 185, 20);
}
.label {
	vertical-align: top;
}