@charset "UTF-8";

/* 커뮤니티 헤딩 (작성자:수진) */
.community-heading h4 {
	color: #b74846;
}

.community-heading h4 i {
	font-size: 1rem;
}

.community-nav a {
	color: black;
	font-weight: bold;
}

.community-nav a:hover {
	text-decoration: underline;
}

.community-nav a.active {
	color: #d9bf77;
}

#communitySearchBtn:hover {
	background-color: #639A67;
}

#communitySearchBtn:hover i {
	color: white;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 6rem!important;
	height: 2.5rem!important;
	display: inline-grid;
    align-content: center;
}