.bookmarkWrapper:not(:last-of-type) {
	border-bottom: 1px solid #ddd;
}

.imgWrapper {
	width: 9rem;
	height: 9rem;
	overflow: hidden;
	background-color: #f0f0f0;
	border-radius: 1rem;
}

.campsiteImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.campsiteName a {
	color: #212529;
	text-decoration: none;
	transition-duration: .1s;
}

.campsiteName a:hover {
	color: #639A67;
}

.campsiteIntro {
	border-top: 1px solid #ddd;
}

.detailInfo {
	font-size: 0.9rem;
}

.detailInfo>div {
	margin-right: 3rem;
}

.campsiteInfo i {
	color: #D9BF77;
}

.bmStatusBtn {
	background: none;
	border: none;
}

.btnWrapper i {
	font-size: 2.4rem;
	color: #f1c40f;
}