@charset "UTF-8";

/* footer 임시 */
footer {margin-top:70px;}



#admin-container {
	margin-top: 20px;
}
/* 회원관리 */
.ad-btn-search {
	border: 1px solid #dee2e6;
	border-left: none;
	background-color: #fff;
	width: 40px;
	height: 40px;
}

.ad-input-search {
	border: 1px solid #dee2e6;
	padding-left: 20px;
	width: 898px;
	height: 40px;
	margin-right: -7px;
}

input:focus {
	outline: none;
}

.btn-member-update {
	border: none;
	background-color: #fff;
}

.btn-member-update:hover {
	background-color: #639A67;
	color: #fff;
}

#tb-member th, #tb-member td {
	padding: 9px;
	font-size: 0.870rem;
}

#tb-member {
	margin-top: 20px;
}

.admin-hd {
	margin-bottom: 15px;
	font-weight: bold;
}

tr:last-child {
	border-bottom: 1px solid #dee2e6;
}

.input-member {
	border: 1px solid #BDBDBD;
}

.modal-header {
	background-color: #639A67;
	color: #fff;
}

.member-role {
	border: 1px solid #BDBDBD;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	width: 163px;
	height: 30px;
}
.modal-body {
    font-size: 0.87rem;
}

/* report */
.input-report {
	border: 1px solid #BDBDBD;
	width: 230px;
}

.input-search-report {
	border: 1px solid #dee2e6;
	padding-left: 10px;
	width: 170px;
	margin-right: -7px;
}

.search-group-report {
	display: flex;
	font-size: 13px;
	height: 28px;
}

.report-category {
	border: 1px solid #dee2e6;
    width: 150px;
    height: 26px;
	margin-left: 5px;
}
.report-state {
	border: 1px solid #dee2e6;
    width: 85px;
    height: 26px;
	margin-left: 5px;
}

.btn-report-search {
	border: 1px solid #dee2e6;
	background-color: #fff;
}

.btn-report-update {
	border: none;
	background-color: #fff;
}

.btn-report-update:hover {
	background-color: #639A67;
	color: #fff;
}