<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.campervalley.mypage.advertiser.model.dao.AdvertiserDao">

<insert id="insertAdvertiser">
	insert into
		advertiser
	values(
		seq_advertiser_no.nextval,
		#{memberId},
		#{bizLicenseNo},
		#{bizName},
		default,
		default,
		null
	)
	<selectKey keyProperty="advertiserNo" resultType="_int" order="AFTER">
		select
			seq_advertiser_no.currval
		from
			dual
	</selectKey>
</insert>

<select id="selectAdvertiserList" resultMap="AdvertiserCollectionMap">
	select
		ader.*,
		a.auth,
		m.withdrawal,
		l.license_file_no,
		l.original_filename,
		l.renamed_filename,
		l.created_at file_created_at
	from
		advertiser ader join license_file l
			on ader.advertiser_no = l.advertiser_no
		left join (select * from authority where auth = 'ROLE_AD') a
			on ader.member_id = a.member_id
		join member m
			on ader.member_id = m.member_id
	order by ader.created_at desc
</select>

<select id="selectAdvertiserFilteredList" parameterType="map" resultMap="AdvertiserCollectionMap">
	select
		ader.*,
		a.auth,
		m.withdrawal,
		l.license_file_no,
		l.original_filename,
		l.renamed_filename,
		l.created_at file_created_at
	from
		advertiser ader join license_file l
			on ader.advertiser_no = l.advertiser_no
		left join (select * from authority where auth = 'ROLE_AD') a
			on ader.member_id = a.member_id
		join member m
			on ader.member_id = m.member_id
	<where>
		<if test="status != null and status != ''">
			<if test="status != 'all'">
				m.withdrawal != 'Y'
				and ader.deleted_at is null
			</if>
			<if test="status == 'waiting'">
				and ader.biz_status = 'N'
			</if>
			<if test="status == 'permission'">
				and ader.biz_status = 'Y'
				and a.auth = 'ROLE_AD'
			</if>
			<if test="status == 'pause'">
				and ader.biz_status = 'Y'
				and a.auth is null
			</if>
		</if>
		<if test="memberId != null and memberId != ''">
			and ader.member_id like '%' || #{memberId} || '%'
		</if>
		<if test="bizName != null and bizName != ''">
			and ader.biz_name like '%' || #{bizName} || '%'
		</if>
		<if test="bizLicenseNo != null and bizLicenseNo != ''">
			and biz_license_no like '%' || #{bizLicenseNo} || '%'
		</if>
	</where>
	order by ader.created_at desc
</select>

<resultMap type="AdvertiserExt" id="AdvertiserCollectionMap">
	<id column="advertiser_no" property="advertiserNo"/>
	<result column="member_id" property="memberId"/>
	<result column="biz_license_no" property="bizLicenseNo"/>
	<result column="biz_name" property="bizName"/>
	<result column="biz_status" property="bizStatus"/>
	<result column="created_at" property="createdAt"/>
	<result column="deleted_at" property="deletedAt"/>
	<result column="withdrawal" property="withdrawal"/>
	
	<association property="licenseFile" javaType="licenseFile">
		<id column="license_file_no" property="licenseFileNo"/>
		<result column="advertiser_no" property="advertiserNo"/>		
		<result column="original_filename" property="originalFilename"/>		
		<result column="renamed_filename" property="renamedFilename"/>		
		<result column="file_created_at" property="createdAt"/>
	</association>
	
	<collection property="authorities" ofType="simpleGrantedAuthority">
		<constructor>
			<arg column="auth" javaType="string"/>
		</constructor>
	</collection>
</resultMap>

<select id="selectTotalAdvertiser" resultType="_int">
	select
		count(*)
	from
		advertiser ader join license_file l
			on ader.advertiser_no = l.advertiser_no
		left join (select * from authority where auth = 'ROLE_AD') a
			on ader.member_id = a.member_id
		join member m
			on ader.member_id = m.member_id
</select>

<select id="selectFilteredTotalAdvertiser" resultType="_int">
	select
		count(*)
	from
		advertiser ader join license_file l
			on ader.advertiser_no = l.advertiser_no
		left join (select * from authority where auth = 'ROLE_AD') a
			on ader.member_id = a.member_id
		join member m
			on ader.member_id = m.member_id
	<where>
		<if test="status != null and status != ''">
			<if test="status != 'all'">
				m.withdrawal != 'Y'
				and ader.deleted_at is null
			</if>
			<if test="status == 'waiting'">
				and ader.biz_status = 'N'
			</if>
			<if test="status == 'permission'">
				and ader.biz_status = 'Y'
				and a.auth = 'ROLE_AD'
			</if>
			<if test="status == 'pause'">
				and ader.biz_status = 'Y'
				and a.auth is null
			</if>
		</if>
		<if test="memberId != null and memberId != ''">
			and ader.member_id like '%' || #{memberId} || '%'
		</if>
		<if test="bizName != null and bizName != ''">
			and ader.biz_name like '%' || #{bizName} || '%'
		</if>
		<if test="bizLicenseNo != null and bizLicenseNo != ''">
			and biz_license_no like '%' || #{bizLicenseNo} || '%'
		</if>
	</where>
</select>

<select id="selectOneAdvertiserMoney" resultMap="AdvertiserMoneyMap">
	select *
	from
		advertiser join (select member_id, withdrawal from member where member_id = #{memberId})
			using(member_id)
		join admoney using(advertiser_no)
	where deleted_at is null and withdrawal = 'N'
</select>

<resultMap type="AdvertiserMoneyExt" id="AdvertiserMoneyMap">
	<id column="advertiser_no" property="advertiserNo"/>
	<result column="member_id" property="memberId"/>
	<result column="biz_license_no" property="bizLicenseNo"/>
	<result column="biz_name" property="bizName"/>
	<result column="biz_status" property="bizStatus"/>
	<result column="created_at" property="createdAt"/>
	<result column="deleted_at" property="deletedAt"/>

	<association property="admoney" javaType="admoney">
		<id column="admoney_no" property="admoneyNo" />
		<result column="advertiser_no" property="advertiserNo" />
		<result column="balance" property="balance" />
	</association>
</resultMap>

</mapper>