<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.campervalley.community.camper.model.dao.CamperDao">

<insert id="insertCamper">
	insert into
		camper
	values(
		seq_camper_no.nextval,
		#{memberId},
		#{title},
		#{content},
		#{purpose},
		#{expectedCost},
		#{chatUrl},
		#{departureDate},
		#{arrivalDate},
		#{area},
		#{memberCount},
		default,
		default,
		null,
		default)
</insert>

</mapper>