<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.campervalley.campsite.model.dao.CampsiteDao">

<select id="recentCampsiteList" resultType="campsite">
select
	rownum,
	c.*
from (
	select
		*
	from
		campsite
	order by
		content_id desc
	) c
where
	rownum &lt;= 30
</select>

</mapper>