<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.campervalley.cs.model.dao.CsDao">

<select id="selectFaqList" resultMap="noticeMap">
	select 
		* 
	from
		notice 
	<where>
		<if test="searchType == 'title'">
			${searchType} like '%' || #{searchKeyword} || '%'
		</if>
		<if test="searchType == 'content'">
			${searchType} like '%' || #{searchKeyword} || '%'
		</if>
			and category = 'FAQ'
	</where>
	order by notice_no desc
</select>

<select id="selectTotalFaqList" resultType="_int">
	select
		count(*)
	from
		notice
	<where>
	<if test="searchType == 'title'">
		${searchType} like '%' || #{searchKeyword} || '%'
	</if>
	<if test="searchType == 'content'">
		${searchType} like '%' || #{searchKeyword} || '%'
	</if>
		and category = 'FAQ'
	</where>
</select>

<insert id="faqInsert">
	insert into
		notice
	values (
		seq_notice_no.nextval, #{memberId}, 'FAQ', #{title}, #{content}, default, default
	)
</insert>

<delete id="faqDelete">
		delete from
			notice
		where
			notice_no = #{noticeNo}
	</delete>

<select id="selectOneFaq" resultType="notice">
	select
		*
	from
		notice
	where
		notice_no = #{noticeNo} and category = 'FAQ'
</select>

<update id="faqUpdate">
	update
		notice
	set
		 title = #{title}, 
		 content = #{content} 
	where 
		notice_no = #{noticeNo}
</update>

<select id="selectNoticeList" resultMap="noticeMap">
	select 
	    n.*,
	    (select count(*) from notice_attach where notice_no = n.notice_no) attach_count 
	from 
	    notice n
	<where>
		<if test="searchType == 'title'">
			${searchType} like '%' || #{searchKeyword} || '%'
		</if>
		<if test="searchType == 'content'">
			${searchType} like '%' || #{searchKeyword} || '%'
		</if>
			and category = 'NOTICE'
	</where>
	order by notice_no desc
</select>

<insert id="noticeInsert">
	insert into
		notice
	values(
		seq_notice_no.nextval, #{memberId}, 'NOTICE', #{title}, #{content}, default, default
	)
	<selectKey keyProperty="noticeNo" resultType="_int" order="AFTER"> 
		select
			seq_notice_no.currval
		from
			dual
	</selectKey>
</insert>

<insert id="insertAttachment">
	insert into 
		notice_attach 
	(notice_attach_no, notice_no, original_filename, renamed_filename)
	values (
	seq_notice_attach_no.nextval, #{noticeNo}, #{originalFilename}, #{renamedFilename}
	)
</insert>

<select id="selectOneNoticeCollection" resultMap="noticeMap">
	select
	    n.*,
	    m.*,
	    a.notice_attach_no,
	    a.*
	from
	    notice n
	        left join member m on n.member_id = m.member_id
	        left join notice_attach a on n.notice_no = a.notice_no
	where
	    n.notice_no = #{noticeNo}
	order by
	    n.notice_no desc
</select>

<select id="selectOneNotice" resultType="noticeExt">
	select
		*
	from
		notice
	where
		notice_no = #{noticeNo}
</select>

<select id="selectAttchmentListByNoticeNo" resultType="noticeAttach">
	select
		*
	from
		notice_attach
	where
		notice_no = #{noticeNo}
</select>

<select id="selectOneAttachment" resultType="noticeAttach">
	select
		* 
	from 
		notice_attach 
	where 
		notice_attach_no = #{noticeAttachNo}
</select>

<delete id="deleteAttachment">
	delete 
		from 
	notice_attach 
	where 
		notice_attach_no = #{noticeAttachNo}
</delete>

<update id="noticeUpdate">
	update 
		notice set 
	title = #{title}, content = #{content} where notice_no = #{noticeNo}
</update>

<delete id="noticeDelete">
	delete 
		from 
	notice 
	where 
		notice_no = #{noticeNo}
</delete>

<select id="selectTotalNoticeList" resultType="_int">
		select
			count(*)
		from
			notice
		<where>
		<if test="searchType == 'title'">
			${searchType} like '%' || #{searchKeyword} || '%'
		</if>
		<if test="searchType == 'content'">
			${searchType} like '%' || #{searchKeyword} || '%'
		</if>
			and category = 'NOTICE'
		</where>
</select>

<update id="readCntUpdate" parameterType="int">
	update 
		notice set 
	read_count = read_count +1
	where
		notice_no = #{noticeNo}
</update>

<select id="movePage" resultType="noticeExt" parameterType="int">
	select 
		*
	from 
		(select 
			notice_no, 
			lead(notice_no, 1, 9999) over(order by notice_no) as prev,
			lag(notice_no, 1, 9999) over(order by notice_no) as next, 
			title,
			lead(title, 1, '이전글이 없습니다.') over(order by notice_no) as prevtitle,
			lag(title, 1, '다음글이 없습니다.') over(order by notice_no) as nexttitle
		from 
			notice 
		where 
			category = 'NOTICE' 
			order by notice_no desc) 
	where 
		notice_no = #{noticeNo}
</select>

<resultMap type="noticeExt" id="noticeMap">
		<id column="notice_no" property="noticeNo"/>
			<result column="member_id" property="memberId"/>
			<result column="category" property="category"/>
			<result column="title" property="title"/>
			<result column="content" property="content"/>
			<result column="created_at" property="createdAt"/>
			<result column="read_count" property="readCount"/>
			
			<!--   <association property="member" javaType="member">
				<id column="member_id" property="memberId"/>
				<result column="name" property="name"/>
				<result column="email" property="email"/>
			</association>  -->
			
			<collection property="attachments" javaType="arraylist" ofType="noticeAttach">
				<id column="notice_attach_no" property="noticeAttachNo"/>
				<result column="original_filename" property="originalFilename"/>
				<result column="renamed_filename" property="renamedFilename"/>
			</collection> 
	</resultMap>
</mapper>