<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.campervalley.community.review.model.dao.ReviewDao">

<select id="autoComplete" parameterType="map" resultType="map">
	select
		content_id, faclt_nm
	from
		campsite
	where
		faclt_nm like '%'|| #{value} || '%'
</select>

<insert id="insertReview">
  	insert into
  		campsite_review
  	values (
  		seq_campsite_review_no.nextval, 
  		#{memberId}, 
  		#{contentId}, 
  		#{facltNm}, 
  		#{reviewGrade}, 
  		#{stay}, 
  		#{merit}, 
  		#{title}, 
  		#{content}, 
  		default, null, default)
  	<selectKey keyProperty="reviewNo" resultType="_int" order="AFTER">
  		select
  			seq_campsite_review_no.currval
  		from
  			dual
  	</selectKey>
</insert>

<insert id="insertReviewPhoto">
	insert into
		review_photo
	values (
		seq_review_photo_no.nextval, 
		#{reviewNo}, 
		#{originalFilename}, 
		#{renamedFilename}, 
		default)
</insert>

<select id="selectReviewList" resultMap="reviewCollectionMap">
  	select
  		r.*, 
  		m.*, 
  		(select count(*) from review_comment where review_no = r.review_no) comment_count, 
        (select count(*) from review_recommend where review_no = r.review_no and status = 'Y') recommend_count
  	from
  		campsite_review r 
  			left join member m
  				on r.member_id = m.member_id
  	order by
  		r.review_no desc
</select>

<select id="searchReviewList" resultMap="reviewCollectionMap">
  	select
  		r.*, 
  		m.*, 
  		(select count(*) from review_comment where review_no = r.review_no) comment_count, 
        (select count(*) from review_recommend where review_no = r.review_no and status = 'Y') recommend_count
  	from
  		campsite_review r 
  			left join member m
  				on r.member_id = m.member_id
  	<where>
  		<if test="searchType != null and searchType != '' and searchKeyword != null and searchKeyword != ''">
			<if test="searchType == 'memberId'">
				${searchType} like '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchType == 'title'">
				${searchType} like '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchType == 'content'">
				${searchType} like '%' || #{searchKeyword} || '%'
			</if>
		</if>
 	</where>
  	order by
  		r.review_no desc
</select>

<select id="searchTotalReview" resultType="_int">
	select
 		count(*)
 	from
 		campsite_review
 	<where>
  		<if test="searchType != null and searchType != '' and searchKeyword != null and searchKeyword != ''">
			<if test="searchType == 'memberId'">
				${searchType} like '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchType == 'title'">
				${searchType} like '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchType == 'content'">
				${searchType} like '%' || #{searchKeyword} || '%'
			</if>
		</if>
 	</where>
</select>

<resultMap type="campsiteReviewExt" id="reviewCollectionMap">
	<id column="review_no" property="reviewNo"/>
	<result column="member_id" property="memberId"/>
	<result column="content_id" property="contentId"/>
	<result column="faclt_nm" property="facltNm"/>
	<result column="review_grade" property="reviewGrade"/>
	<result column="stay" property="stay"/>
	<result column="merit" property="merit"/>
	<result column="title" property="title"/>
	<result column="content" property="content"/>
	<result column="created_at" property="createdAt"/>
	<result column="updated_at" property="updatedAt"/>
	<result column="read_count" property="readCount"/>
	
	<association property="member" javaType="member">
		<id column="member_id" property="memberId"/>
		<result column="name" property="name"/>
		<result column="nickname" property="nickname"/>
		<result column="password" property="password"/>
		<result column="email" property="email"/>
		<result column="tel" property="tel"/>
		<result column="profile_img" property="profileImg"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="withdraw" property="withdraw"/>
		<result column="enabled" property="enabled"/>
	</association>
	
	<collection property="photos" javaType="arrayList" ofType="reviewPhoto">
  		<id column="review_photo_no" property="reviewPhotoNo"/>
  		<result column="original_filename" property="originalFilename"/>
  		<result column="renamed_filename" property="renamedFilename"/>
  		<result column="created_at" property="createdAt"/>
  	</collection>	
  	
	<collection property="recommends" javaType="arrayList" ofType="reviewRecommend">
  		<id column="recommend_no" property="recommendNo"/>
  		<result column="original_filename" property="originalFilename"/>
  		<result column="member_id" property="memberId"/>
  		<result column="status" property="status"/>
  	</collection>
  	
  	<collection property="comments" javaType="arrayList" ofType="reviewComment">
  		<id column="review_comment_no" property="reviewCommentNo"/>
  		<result column="member_id" property="memberId"/>
  		<result column="comment_content" property="commentContent"/>
  		<result column="comment_level" property="commentLevel"/>
  		<result column="comment_ref" property="commentRef"/>
  		<result column="comment_level" property="commentLevel"/>
  		<result column="created_at" property="createdAt"/>
		<result column="updated_at" property="updatedAt"/>
  	</collection>
</resultMap>

</mapper>