.enrollWrap, .updateWrap {
	background: rgb(255, 255, 255);
    font-size: 16px;
}

/************ enroll/updateBody ************/
.enrollBody, .updateBody {
    font-size: 16px;
    position: relative;
}
.enrollBody section, .updateBody section {
    display: block;
}
.section {
    margin-bottom: 3rem;
}
.enrollBody section h2, .updateBody section h2 {
	height: 100px;
    font-size: 27px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(30, 29, 41);
    position: relative;
    left: 10px;
    width: 1150px;
    font-weight: 600;
}
.list div {
	font-weight: 600;
	
}
.enrollBody section h2 span, .updateBody section h2 span {
    color: #EB0000;
    font-size: 1rem;
    margin-left: 1.5rem;
}

.enrollMain, .updateMain {
    display: block;
    width: 1024px;
    margin: auto;
}
.enrollMain input, .enrollMain textarea,
.updateMain input, .updateMain textarea {
    border: 1px solid rgb(195, 194, 204);
}
.enrollMain input:not([type="file"]):not([type="radio"]),
.updateMain input:not([type="file"]):not([type="radio"]) {
    height: 3rem;
    padding: 0px 1rem;
}
.enrollMain input:not([type="file"]):not([type="radio"]):read-only,
.updateMain input:not([type="file"]):not([type="radio"]):read-only {
    background: rgb(244, 244, 250);
}
.enrollMain textarea,
.updateMain textarea {
    padding: 1rem;
    resize: none;
    line-height: 1.35;
}

.listBody {
    padding-top: 0.5rem;
}
.list {
    width: 100%;
    display: flex;
    padding: 2rem 0px;
    border-bottom: 1px solid rgb(220, 219, 228);
}


/* 상품이미지 */
.image_sub {
    width: 8.4rem;
    font-size: 18px;
}
.image_sub > span {
    color: #EB0000;
    margin-right: 10px;
}
image_sub > .small {
    color: rgb(155, 153, 169);
    margin-left: 0.25rem;
}
.image_con {
    margin-left: -38px;
    position: relative;
    left: 49px;
}
.image-ul {
	display: flex;
	width: 856px;
	flex-wrap: wrap;
	overflow-x: hidden;
	padding-left: 0px;
}
.image-li{
	width: 202px;
	height: 202px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: rgb(155, 153, 169);
	font-size: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(230, 229, 239);
	border-image: initial;
	background: rgb(250, 250, 253);
}
.image-li input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	cursor: pointer;
	font-size: 0px;
}
.registImages {
	width: 202px;
	height: 202px;
	border: 1px solid rgb(230, 229, 239);
	margin-right: 1rem;
	margin-bottom: 1rem;
	list-style-type: none;
	position: relative;
	display: flex;
	cursor: pointer;
}
.registImages img {
	width: 100%;
	height: 100%;
}
.image_delete_btn {
	width: 1.5rem;
	height: 1.5rem;
	background-size: 12px 12px;
	background-color: rgba(30, 29, 41, 0.32);
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
}
.rep_image {
    position: absolute;
    height: 1.5rem;
    display: flex;
    align-items: center;
    top: 0.5rem;
    left: 0.5rem;
    background-color: #bebebe;
    font-size: 12px;
    padding: 0px 0.5rem;
    border-radius: 12px;
    color: white;
}


/* 제목 */
.subject_sub {
	width: 10.5rem;
	font-size: 18px;
	padding-top: 14px;
}
.subject_sub > span {
	color: #E80000;
}
.subject_con > .contentDiv {
	display: flex;
	width: 100%;
	align-items: center;
	flex-flow: row wrap;
}
.subject_con > .contentDiv input {
	width: 535%;
    height: 50px;
    border: 1px solid rgb(195, 194, 204);
    padding: 0px 1rem;
    margin-left: -40px;
}
.subjectBox {
	flex: 1 1 0%;
}
.subjectInput {
	height: 3em;
	padding: 0px 1rem;
}
.subjectSize {
    margin-left: 40.8rem;
    font-size: 0.8rem;
    width: 5rem;
    text-align: right;
    color: gray;
}
.subjectCancle {
	position: absolute;
	background-size: 20px 20px;
	left: 75%;
	width: 2rem;
	height: 2rem;
	background-image: url("/market/image/product/div_x.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	align-self: center;
	border: 0;
}

/* 카테고리 */
.category_sub {
    width: 10.5rem;
    font-size: 18px;
    padding-top: 8px;
}
.category_sub > span {
    color: #E80000;;
}
.category_con {
    flex: 1 1 0%;
}
.category_con > .contentDiv {
    display: flex;
    width: 36%;
    height: 19rem;
    overflow: hidden;
    border: 1px solid rgb(220, 219, 228);
}
.categoryStep {
    width: 284px;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow-y: auto;
    color: rgb(195, 194, 204);
}
.categories {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0px;
}
.category {
	height: 40px;
}
.category > .cate_btn {
    width: 100%;
    height: 100%;
    padding: 0px 1.5rem;
    border: none;
    background-color: white;
}
.category > .cate_btn:hover {
    background: rgb(244, 244, 250);
}
.category > .cate_btn:active {
    background: rgb(244, 244, 250);
}
.selectedList {
	font-weight: bold;
}
.selectedList:hover {
    background: rgb(244, 244, 250);
}
.selectedList:active {
	color: #0a58ca;
    background: rgb(244, 244, 250);
}
.selectedCategory {
    margin-top: 1rem;
    font-size: 0.9rem;
    margin-left: 0.2rem;
}

/* 거래지역 */
.location_sub {
    width: 10.5rem;
    font-size: 18px;
    padding-top: 14px;
}
.location_sub > span {
    color: #E80000;
}
.location_con {
    flex: 1 1 0%;
    margin-left: -40px;
}
.location_con > .contentDiv > button {
    height: 2.2rem;
    width: 5.5rem;
    text-align: center;
    border: 1px solid rgb(195, 194, 204);
    margin-right: 0.2rem;
    border-radius: 2px;
}
.location_con > .input {
    width: 100%;
    margin-top: 1rem;
}
.productLocation {
	width: 100%;
	margin-top: 1rem;
	border: 1px solid rgb(195, 194, 204);
	height: 3rem;
	padding: 0px 1rem;
	background: rgb(244, 244, 250);
}
#map {
	width:300px;
	height:300px;
	margin-top:10px;
	display:none
}

/* 가격 */
.price_sub {
    width: 10.5rem;
    font-size: 18px;
    padding-top: 14px;
}
.price_sub > span {
    color: #E60000;
}
.price_con {
    flex: 1 1 0%;
    margin-left: -40px;
}
.priceBox > input {
	height: 3rem;
	padding: 0px 1rem;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(195, 194, 204);
	margin-right: 6px;
}
.priceInput {
    width: 240px;
    margin-right: 1rem;
}

/* 설명 */
.instruction_sub {
    width: 10.5rem;
    font-size: 18px;
    padding-top: 18px;
}
.instruction_con {
    flex: 1 1 0%;
    margin-left: -40px;
}
.instruction_con > .instruction {
    width: 99%;
}
.instruction_con > .text {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 0.5rem;
}
.instruction_con > .text > a {
    color: rgb(155, 153, 169);
}
.instruction_con > .text > a > img {
    margin-right: 0.5rem;
}
.instruction_con > .text > .limit {
    text-align: right;
	font-size: 0.8rem;
	color: gray;
}
.instruction textarea {
    padding: 1rem;
    line-height: 1.35;
}
#productContent {
    resize: none!important;	
}

/************ 등록/수정하기 ************/
.btmArea {
    display: flex;
    justify-content: flex-end;
    margin-right: -43px;
}
.enrollBtn, .updateBtn {
    height: 3rem;
    width: 8rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2px;
    background: #639A67;
    position: relative;
    right: 51px;
    border: none;
    letter-spacing: 2px;
}
.registBtn:hover {
    background: #0d47a1;
}

#div-image, #div-subject, #div-category, 
#div-price, #div-location {
	display: none;
}
.div-image {
    color: #E6B36D;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 0.45rem;
}
.div-subject {
    color: #E6B36D;
    font-size: 14px;
    margin-top: 0.8rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: -2.45rem;
}
.div-category {
	color: #E6B36D;
    font-size: 14px;
    margin-top: 0.8rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 0.2rem;
}
.div-location {
    color: #E6B36D;
    font-size: 14px;
    margin-top: 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 0.15rem;
}
.div-price {
    color: #E6B36D;
    font-size: 14px;
    margin-top: 0.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.deliveryBox {
	margin-top: 12px;
    font-weight: 600;
    font-size: 14px;
}
#freeDelivery {
	margin-right: 6px;
}
/* 기타 공통 */
.add_description {
	margin-top: 1.5rem;
    color: #bebebe;
    line-height: 1.6;
    font-size: 0.9rem;
}
.instruction_con textarea {
	margin-top: 6px;
    margin-left: 2px;
    border: 1px solid rgb(195, 194, 204);
}
.limit {
    text-align: right;
    font-size: 0.8rem;
    color: gray;
    margin-top: 10px;
    margin-right: 9px;
}
.ex-product-img small {
	color: red!important;
}